.container {
  position: relative;
  height: 100%;
  background: #dce2e5;
}

.to_top {
  width: 30px;
  height: 40px;
  padding: 20px;
  font: 14px/20px arial;
  text-align: center;
  background: #06c;
  opacity: 0.5;
  position: fixed;
  top: 80%;
  left: 80%;
  cursor: pointer;
  color: #fff;
  transition: 2s;
}

.search1 {
  margin-top: 10px;
  margin-left: 5px;
  margin-right: 5px;
}

.adm-tabs-tab-disabled {
  opacity: 1
}

.content {
  height: 120px;
  color: #999999;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 24px;
  user-select: none;
}

.lunbo {
  height: 120px;
  color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 48px;
  user-select: none;
}

.tupian {
  /* display: flex;
  flex-direction: row; */
  float: left;
  width: 45%;
  height: 37%;
  margin-left: 3%;
  position: relative;
  z-index: 10
}

.footer {
  background: #9e9f9f;
  width: 100%;
  position: fixed !important;
  bottom: 0;
  left: 0;
}

.one {
  width: 100px;
  height: 100px;
  background: red;
  animation: myfirst 5s;
  -webkit-animation: myfirst 5s;
}

@keyframes myfirst {
  from {
    background: red;
  }

  to {
    background: yellow;
  }
}

@-webkit-keyframes myfirst {
  from {
    background: red;
  }

  to {
    background: yellow;
  }
}

.yuyuecontent {
  display: flex;
  flex-direction: column;

}

.yuyuetop {
  height: 200px;
  width: 100%;
  background-color: #06c;
}